In [1]:
import pandas as pd
import torch
import matplotlib.pyplot as plt

In [2]:
trainDF = pd.read_csv('train.csv')
testDF = pd.read_csv('test.csv')

In [3]:
concatDF=pd.concat([trainDF,testDF])
target_encoding = concatDF[["Gender", "Response"]].groupby("Gender").mean()
concatDF = concatDF.merge(target_encoding, on="Gender")
concatDF = concatDF.drop(columns=['Gender'])
concatDF = pd.DataFrame.rename(concatDF, columns={'Response_x':'Response'})

target_encoding = concatDF[["Vehicle_Age", "Response"]].groupby("Vehicle_Age").mean()
concatDF = concatDF.merge(target_encoding, on="Vehicle_Age")
concatDF = concatDF.drop(columns=['Vehicle_Age'])
concatDF = pd.DataFrame.rename(concatDF, columns={'Response_x':'Response'})

target_encoding = concatDF[["Vehicle_Damage", "Response"]].groupby("Vehicle_Damage").mean()
concatDF = concatDF.merge(target_encoding, on="Vehicle_Damage")
concatDF = concatDF.drop(columns=['Vehicle_Damage'])
concatDF = pd.DataFrame.rename(concatDF, columns={'Response_x':'Response'})

target_encoding = concatDF[["Driving_License", "Response"]].groupby("Driving_License").mean()
concatDF = concatDF.merge(target_encoding, on="Driving_License")
concatDF = concatDF.drop(columns=['Driving_License'])
concatDF = pd.DataFrame.rename(concatDF, columns={'Response_x':'Response'})

target_encoding = concatDF[["Previously_Insured", "Response"]].groupby("Previously_Insured").mean()
concatDF = concatDF.merge(target_encoding, on="Previously_Insured")
concatDF = concatDF.drop(columns=['Previously_Insured'])
concatDF = pd.DataFrame.rename(concatDF, columns={'Response_x':'Response'})

target_encoding = concatDF[["Region_Code", "Response"]].groupby("Region_Code").mean()
concatDF = concatDF.merge(target_encoding, on="Region_Code")
concatDF = concatDF.drop(columns=['Region_Code'])
concatDF = pd.DataFrame.rename(concatDF, columns={'Response_x':'Response'})

target_encoding = concatDF[["Policy_Sales_Channel", "Response"]].groupby("Policy_Sales_Channel").mean()
concatDF = concatDF.merge(target_encoding, on="Policy_Sales_Channel")
concatDF = concatDF.drop(columns=['Policy_Sales_Channel'])
concatDF = pd.DataFrame.rename(concatDF, columns={'Response_x':'Response'})

concatDF['id']=concatDF['id'].astype(str)

concatDF['Annual_Premium']=concatDF['Annual_Premium']/concatDF['Annual_Premium'].max()

concatDF['Vintage']=concatDF['Vintage']/concatDF['Vintage'].max()

concatDF['Age']=concatDF['Age']/concatDF['Age'].max()

#concatDF = pd.get_dummies(concatDF ,columns=['Response'],dtype=float)
#concatDF['Response'] = concatDF['Response']

concatDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19174664 entries, 0 to 19174663
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   id              object
 1   Age             float64
 2   Annual_Premium  float64
 3   Vintage         float64
 4   Response        float64
 5   Response_y      float64
 6   Response_y      float64
 7   Response_y      float64
 8   Response_y      float64
 9   Response_y      float64
 10  Response_y      float64
 11  Response_y      float64
dtypes: float64(11), object(1)
memory usage: 1.7+ GB

In [4]:
falseDF=concatDF[concatDF['Response']==0]
falseDF.to_csv('falseDf.csv',index=False)
falseDF

,id,Age,Annual_Premium,Vintage,Response,Response_y,Response_y,Response_y,Response_y,Response_y,Response_y,Response_y
0,0,0.247059,0.120521,0.625418,0.0,0.139688,0.177725,0.240530,0.123132,0.228493,0.121274,0.192496
2,2,0.294118,0.070428,0.849498,0.0,0.103297,0.041404,0.004198,0.123132,0.000638,0.085700,0.026222
3,3,0.411765,0.004869,0.254181,0.0,0.103297,0.177725,0.240530,0.123132,0.228493,0.102073,0.204927
4,4,0.423529,0.059150,0.983278,0.0,0.103297,0.177725,0.004198,0.123132,0.000638,0.067435,0.026222
5,5,0.364706,0.052114,0.658863,0.0,0.103297,0.041404,0.004198,0.123132,0.000638,0.083005,0.026222
...,...,...,...,...,...,...,...,...,...,...,...,...
11504791,11504791,0.364706,0.004869,0.682274,0.0,0.103297,0.041404,0.004198,0.123132,0.000638,0.084166,0.026222
11504792,11504792,0.400000,0.055490,0.672241,0.0,0.139688,0.177725,0.004198,0.123132,0.000638,0.191811,0.249854
11504793,11504793,0.564706,0.050747,0.729097,0.0,0.139688,0.177725,0.240530,0.123132,0.228493,0.068065,0.207763
11504795,11504795,0.341176,0.004869,0.632107,0.0,0.103297,0.041404,0.004198,0.123132,0.000638,0.084166,0.026222
11504797,11504797,0.294118,0.060824,0.632107,0.0,0.139688,0.041404,0.004198,0.123132,0.000638,0.191811,0.026222

In [5]:
trueDF=concatDF[concatDF['Response']==1]
trueDF.to_csv('trueDF.csv',index=False)
trueDF

,id,Age,Annual_Premium,Vintage,Response,Response_y,Response_y,Response_y,Response_y,Response_y,Response_y,Response_y
1,1,0.505882,0.109061,0.963211,1.0,0.139688,0.299049,0.24053,0.123132,0.228493,0.191811,0.207763
7,7,0.552941,0.075271,0.876254,1.0,0.103297,0.177725,0.24053,0.123132,0.228493,0.087718,0.207763
28,28,0.470588,0.004869,0.682274,1.0,0.139688,0.177725,0.24053,0.123132,0.228493,0.121274,0.260495
36,36,0.588235,0.054146,0.913043,1.0,0.103297,0.177725,0.24053,0.123132,0.228493,0.096163,0.192496
44,44,0.470588,0.067048,0.956522,1.0,0.139688,0.177725,0.24053,0.123132,0.228493,0.087718,0.192496
...,...,...,...,...,...,...,...,...,...,...,...,...
11504732,11504732,0.529412,0.060241,0.301003,1.0,0.139688,0.177725,0.24053,0.123132,0.228493,0.191811,0.192496
11504755,11504755,0.529412,0.069721,0.545151,1.0,0.139688,0.177725,0.24053,0.123132,0.228493,0.078031,0.111863
11504784,11504784,0.294118,0.089306,0.123746,1.0,0.139688,0.041404,0.24053,0.123132,0.228493,0.191811,0.056011
11504794,11504794,0.305882,0.054630,0.384615,1.0,0.103297,0.041404,0.24053,0.123132,0.228493,0.078031,0.026222
11504796,11504796,0.600000,0.089682,0.916388,1.0,0.103297,0.177725,0.24053,0.123132,0.228493,0.191811,0.207763

In [6]:
testDF=concatDF[concatDF['Response'].isna()]
testDF.to_csv('testDF.csv',index=False)
testDF

,id,Age,Annual_Premium,Vintage,Response,Response_y,Response_y,Response_y,Response_y,Response_y,Response_y,Response_y
11504798,11504798,0.235294,0.004869,0.762542,NaN,0.103297,0.041404,0.004198,0.123132,0.228493,0.083005,0.020696
11504799,11504799,0.552941,0.069392,0.411371,NaN,0.139688,0.177725,0.240530,0.123132,0.228493,0.191811,0.192496
11504800,11504800,0.552941,0.004869,0.906355,NaN,0.139688,0.177725,0.240530,0.123132,0.228493,0.090684,0.207763
11504801,11504801,0.258824,0.045360,0.384615,NaN,0.103297,0.041404,0.004198,0.123132,0.000638,0.083005,0.026222
11504802,11504802,0.600000,0.063157,0.494983,NaN,0.139688,0.177725,0.004198,0.123132,0.228493,0.166799,0.192496
...,...,...,...,...,...,...,...,...,...,...,...,...
19174659,19174659,0.670588,0.095639,0.364548,NaN,0.139688,0.177725,0.240530,0.123132,0.228493,0.191811,0.192496
19174660,19174660,0.329412,0.047487,0.615385,NaN,0.139688,0.041404,0.004198,0.123132,0.000638,0.063979,0.026222
19174661,19174661,0.552941,0.004869,0.210702,NaN,0.139688,0.177725,0.004198,0.123132,0.000638,0.095341,0.097062
19174662,19174662,0.352941,0.071952,0.397993,NaN,0.139688,0.041404,0.240530,0.123132,0.228493,0.191811,0.192496
19174663,19174663,0.270588,0.050907,0.264214,NaN,0.139688,0.041404,0.004198,0.123132,0.000638,0.096163,0.026222