In [16]:
import pandas as pd
import torch
import matplotlib.pyplot as plt

In [17]:
trainDF = pd.read_csv('train.csv')
trainDF.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,Male,21,1,35.0,0,1-2 Year,Yes,65101.0,124.0,187,0
1,1,Male,43,1,28.0,0,> 2 Years,Yes,58911.0,26.0,288,1
2,2,Female,25,1,14.0,1,< 1 Year,No,38043.0,152.0,254,0
3,3,Female,35,1,1.0,0,1-2 Year,Yes,2630.0,156.0,76,0
4,4,Female,36,1,15.0,1,1-2 Year,No,31951.0,152.0,294,0

In [18]:
testDF = pd.read_csv('test.csv')
testDF.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage
0,11504798,Female,20,1,47.0,0,< 1 Year,No,2630.0,160.0,228
1,11504799,Male,47,1,28.0,0,1-2 Year,Yes,37483.0,124.0,123
2,11504800,Male,47,1,43.0,0,1-2 Year,Yes,2630.0,26.0,271
3,11504801,Female,22,1,47.0,1,< 1 Year,No,24502.0,152.0,115
4,11504802,Male,51,1,19.0,0,1-2 Year,No,34115.0,124.0,148

In [19]:
# concatDF = pd.concat([trainDF,testDF])
concatDF = pd.concat([trainDF,testDF])

concatDF.loc[concatDF['Gender']=='Male',['Gender']]=0
concatDF.loc[concatDF['Gender']=='Female',['Gender']]=1
concatDF['Gender']=concatDF['Gender'].astype(float)

concatDF['Age']=concatDF['Age']/concatDF['Age'].max()

concatDF.loc[concatDF['Vehicle_Age']=='< 1 Year',['Vehicle_Age']]=0
concatDF.loc[concatDF['Vehicle_Age']=='1-2 Year',['Vehicle_Age']]=0.5
concatDF.loc[concatDF['Vehicle_Age']=='> 2 Years',['Vehicle_Age']]=1
concatDF['Vehicle_Age']=concatDF['Vehicle_Age'].astype(float)

concatDF['Annual_Premium']=concatDF['Annual_Premium']/concatDF['Annual_Premium'].max()

concatDF['Vintage']=concatDF['Vintage']/concatDF['Vintage'].max()

concatDF.loc[concatDF['Vehicle_Damage']=='No',['Vehicle_Damage']]=0
concatDF.loc[concatDF['Vehicle_Damage']=='Yes',['Vehicle_Damage']]=1

concatDF['Vehicle_Damage']=concatDF['Vehicle_Damage'].astype(float)

concatDF['id']=concatDF['id'].astype(str)

concatDF['Driving_License']=concatDF['Driving_License'].astype(float)

concatDF['Previously_Insured']=concatDF['Previously_Insured'].astype(float)

print(concatDF.info())
concatDF.head()

<class 'pandas.core.frame.DataFrame'>
Index: 19174664 entries, 0 to 7669865
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   id                    object
 1   Gender                float64
 2   Age                   float64
 3   Driving_License       float64
 4   Region_Code           float64
 5   Previously_Insured    float64
 6   Vehicle_Age           float64
 7   Vehicle_Damage        float64
 8   Annual_Premium        float64
 9   Policy_Sales_Channel  float64
 10  Vintage               float64
 11  Response              float64
dtypes: float64(11), object(1)
memory usage: 1.9+ GB
None

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,0.0,0.247059,1.0,35.0,0.0,0.5,1.0,0.120521,124.0,0.625418,0.0
1,1,0.0,0.505882,1.0,28.0,0.0,1.0,1.0,0.109061,26.0,0.963211,1.0
2,2,1.0,0.294118,1.0,14.0,1.0,0.0,0.0,0.070428,152.0,0.849498,0.0
3,3,1.0,0.411765,1.0,1.0,0.0,0.5,1.0,0.004869,156.0,0.254181,0.0
4,4,1.0,0.423529,1.0,15.0,1.0,0.5,0.0,0.059150,152.0,0.983278,0.0

In [20]:
testDF=concatDF[len(trainDF):]
testDF

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,11504798,1.0,0.235294,1.0,47.0,0.0,0.0,0.0,0.004869,160.0,0.762542,NaN
1,11504799,0.0,0.552941,1.0,28.0,0.0,0.5,1.0,0.069392,124.0,0.411371,NaN
2,11504800,0.0,0.552941,1.0,43.0,0.0,0.5,1.0,0.004869,26.0,0.906355,NaN
3,11504801,1.0,0.258824,1.0,47.0,1.0,0.0,0.0,0.045360,152.0,0.384615,NaN
4,11504802,0.0,0.600000,1.0,19.0,0.0,0.5,0.0,0.063157,124.0,0.494983,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7669861,19174659,0.0,0.670588,1.0,28.0,0.0,0.5,1.0,0.095639,124.0,0.364548,NaN
7669862,19174660,0.0,0.329412,1.0,50.0,1.0,0.0,0.0,0.047487,152.0,0.615385,NaN
7669863,19174661,0.0,0.552941,1.0,33.0,1.0,0.5,0.0,0.004869,138.0,0.210702,NaN
7669864,19174662,0.0,0.352941,1.0,28.0,0.0,0.0,1.0,0.071952,124.0,0.397993,NaN
7669865,19174663,0.0,0.270588,1.0,46.0,1.0,0.0,0.0,0.050907,152.0,0.264214,NaN

In [21]:
trainDF=concatDF[:len(trainDF)]
trainDF

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,0.0,0.247059,1.0,35.0,0.0,0.5,1.0,0.120521,124.0,0.625418,0.0
1,1,0.0,0.505882,1.0,28.0,0.0,1.0,1.0,0.109061,26.0,0.963211,1.0
2,2,1.0,0.294118,1.0,14.0,1.0,0.0,0.0,0.070428,152.0,0.849498,0.0
3,3,1.0,0.411765,1.0,1.0,0.0,0.5,1.0,0.004869,156.0,0.254181,0.0
4,4,1.0,0.423529,1.0,15.0,1.0,0.5,0.0,0.059150,152.0,0.983278,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11504793,11504793,0.0,0.564706,1.0,6.0,0.0,0.5,1.0,0.050747,26.0,0.729097,0.0
11504794,11504794,1.0,0.305882,1.0,36.0,0.0,0.0,1.0,0.054630,152.0,0.384615,1.0
11504795,11504795,1.0,0.341176,1.0,32.0,1.0,0.0,0.0,0.004869,152.0,0.632107,0.0
11504796,11504796,1.0,0.600000,1.0,28.0,0.0,0.5,1.0,0.089682,26.0,0.916388,1.0
11504797,11504797,0.0,0.294118,1.0,28.0,1.0,0.0,0.0,0.060824,152.0,0.632107,0.0

In [22]:
falseDF=trainDF[trainDF['Response']==0]
falseDF

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,0.0,0.247059,1.0,35.0,0.0,0.5,1.0,0.120521,124.0,0.625418,0.0
2,2,1.0,0.294118,1.0,14.0,1.0,0.0,0.0,0.070428,152.0,0.849498,0.0
3,3,1.0,0.411765,1.0,1.0,0.0,0.5,1.0,0.004869,156.0,0.254181,0.0
4,4,1.0,0.423529,1.0,15.0,1.0,0.5,0.0,0.059150,152.0,0.983278,0.0
5,5,1.0,0.364706,1.0,47.0,1.0,0.0,0.0,0.052114,152.0,0.658863,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11504791,11504791,1.0,0.364706,1.0,32.0,1.0,0.0,0.0,0.004869,152.0,0.682274,0.0
11504792,11504792,0.0,0.400000,1.0,28.0,1.0,0.5,0.0,0.055490,154.0,0.672241,0.0
11504793,11504793,0.0,0.564706,1.0,6.0,0.0,0.5,1.0,0.050747,26.0,0.729097,0.0
11504795,11504795,1.0,0.341176,1.0,32.0,1.0,0.0,0.0,0.004869,152.0,0.632107,0.0
11504797,11504797,0.0,0.294118,1.0,28.0,1.0,0.0,0.0,0.060824,152.0,0.632107,0.0

In [23]:
trueDF=trainDF[trainDF['Response']==1]
trueDF

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
1,1,0.0,0.505882,1.0,28.0,0.0,1.0,1.0,0.109061,26.0,0.963211,1.0
7,7,1.0,0.552941,1.0,8.0,0.0,0.5,1.0,0.075271,26.0,0.876254,1.0
28,28,0.0,0.470588,1.0,35.0,0.0,0.5,1.0,0.004869,157.0,0.682274,1.0
36,36,1.0,0.588235,1.0,46.0,0.0,0.5,1.0,0.054146,124.0,0.913043,1.0
44,44,0.0,0.470588,1.0,8.0,0.0,0.5,1.0,0.067048,124.0,0.956522,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11504732,11504732,0.0,0.529412,1.0,28.0,0.0,0.5,1.0,0.060241,124.0,0.301003,1.0
11504755,11504755,0.0,0.529412,1.0,36.0,0.0,0.5,1.0,0.069721,30.0,0.545151,1.0
11504784,11504784,0.0,0.294118,1.0,28.0,0.0,0.0,1.0,0.089306,153.0,0.123746,1.0
11504794,11504794,1.0,0.305882,1.0,36.0,0.0,0.0,1.0,0.054630,152.0,0.384615,1.0
11504796,11504796,1.0,0.600000,1.0,28.0,0.0,0.5,1.0,0.089682,26.0,0.916388,1.0

In [24]:
# Get cpu, gpu or mps device for training.
device = (
    "cuda"
    if torch.cuda.is_available()
    else "mps"
    if torch.backends.mps.is_available()
    else "cpu"
)
device

'cuda'

In [25]:
class MyDataset(torch.utils.data.Dataset):
    def __init__(self, df:pd.DataFrame):
        self.id = df['id'].values
        df= df.drop(columns=['id'])

        if 'Response' in df.columns:
            self.response = df['Response'].values
            df= df.drop(columns=['Response'])

        # df = pd.get_dummies(df,columns=['Region_Code','Policy_Sales_Channel'])
        df= df.drop(columns=['Region_Code','Policy_Sales_Channel'])
        self.data = df.values
        pass

    def __len__(self):
        return len(self.id)

    def __getitem__(self, idx):
        x=self.data[idx]
        x=torch.tensor(x)
        # x=x.to(torch.float32)
        x=x.to(device)

        id = self.id[idx]

        y=self.response[idx]
        if y==0:
            y=[1,0]
        else:
            y=[0,1]
        y=torch.tensor(y)
        y=y.to(torch.float32)
        y=y.to(device)

        return id, x, y

# trainSet= MyDataset(concatDF[:len(trainDF)])
trueSet= MyDataset(trueDF)
falseSet= MyDataset(falseDF)
testSet= MyDataset(testDF)
trueSet[0]

('1',
 tensor([0.0000, 0.5059, 1.0000, 0.0000, 1.0000, 1.0000, 0.1091, 0.9632],
        device='cuda:0'),
 tensor([0., 1.], device='cuda:0'))

In [26]:
trueSplit = torch.utils.data.random_split(trueSet,(0.7,0.3))
falseSplit = torch.utils.data.random_split(falseSet,(0.7,0.3))
# trueSplit[0][0]
falseSplit[0][0]

('3771320',
 tensor([0.0000, 0.3294, 1.0000, 1.0000, 0.0000, 0.0000, 0.0845, 0.8194],
        device='cuda:0'),
 tensor([1., 0.], device='cuda:0'))

In [27]:
trainSet = torch.utils.data.ConcatDataset((trueSplit[0],falseSplit[0]))
valSet = torch.utils.data.ConcatDataset((trueSplit[1],falseSplit[1]))
trainSet[1]

('138571',
 tensor([0.0000, 0.3412, 1.0000, 0.0000, 0.0000, 1.0000, 0.0049, 0.8094],
        device='cuda:0'),
 tensor([0., 1.], device='cuda:0'))

In [28]:
trueCNT = len(trueSplit[0])
falseCNT = len(falseSplit[0])
weight = trueCNT/(trueCNT+falseCNT)
weight

trueList = [1-weight for _ in range(trueCNT)]
len(trueList)

falseList = [weight for _ in range(falseCNT)]
len(falseList)

weightList = trueList+falseList
len(weightList)

8053360

In [29]:
trueCNT = len(trueSplit[1])
falseCNT = len(falseSplit[1])
weight = trueCNT/(trueCNT+falseCNT)
weight

trueList = [1-weight for _ in range(trueCNT)]
len(trueList)

falseList = [weight for _ in range(falseCNT)]
len(falseList)

val_weightList = trueList+falseList
len(val_weightList)

3451438

In [30]:
trainLoader=torch.utils.data.DataLoader(trainSet,batch_size=1024,sampler=torch.utils.data.WeightedRandomSampler(weightList,len(weightList)))
# trainLoader=torch.utils.data.DataLoader(trainSet,batch_size=1024,sampler=torch.utils.data.WeightedRandomSampler(weightList,1024*2))
valLoader=torch.utils.data.DataLoader(valSet,batch_size=1024)
# valLoader=torch.utils.data.DataLoader(valSet,batch_size=1024,sampler=torch.utils.data.RandomSampler(valSet))
valLoader=torch.utils.data.DataLoader(valSet,batch_size=1024,sampler=torch.utils.data.WeightedRandomSampler(val_weightList,len(val_weightList)))
# testLoader = torch.utils.data.DataLoader(testSet,batch_size=1024)
trainLoader

In [31]:
class Net(torch.nn.Module):
    def __init__(self):
        super().__init__()
        self.convStack = torch.nn.Sequential(
            torch.nn.Linear(8, 8),
            torch.nn.ReLU(),
            torch.nn.Linear(8, 2),
        )

    def forward(self, x):
        logits = self.convStack(x)
        return logits

model = Net().to(device)
model

Net(
  (convStack): Sequential(
    (0): Linear(in_features=8, out_features=8, bias=True)
    (1): ReLU()
    (2): Linear(in_features=8, out_features=2, bias=True)
  )
)

In [32]:
loss_fn = torch.nn.CrossEntropyLoss()
optimizer= torch.optim.SGD(model.parameters(),lr=1)
trainHistory=[]
valHistory=[]
lrScheduler = torch.optim.lr_scheduler.StepLR(optimizer, step_size=1, gamma=0.1)

for phase in range(3):
    bestLoss = float('inf')
    cnt = 0
    bestModel = model

    while(cnt<10):
        model.train()
        trainLoss=0
        for  _, x, y in trainLoader:
            # Compute prediction error
            pred = model(x)
            loss = loss_fn(pred, y)
            trainLoss +=loss.item()

            # Backpropagation
            loss.backward()
            optimizer.step()
            optimizer.zero_grad()

        model.eval()
        valLoss=0
        with torch.no_grad():
            for _, x,y in valLoader:
                pred = model(x)
                loss = loss_fn(pred, y)
                valLoss+=loss.item()

        trainHistory.append(trainLoss)

        valHistory.append(valLoss)

        if bestLoss < valLoss:
            cnt +=1
        else:
            bestLoss = valLoss
            bestModel = model
            cnt =0 

        print(f'{lrScheduler.get_last_lr()} cnt: {cnt} - val loss: {valLoss} - train loss: {trainLoss}')

    model = bestModel
    lrScheduler.step()

plt.plot(trainHistory,label='train')
plt.plot(valHistory, label='val')
plt.legend()

[1] cnt: 0 - val loss: 1437.9181288778782 - train loss: 3358.8435178995132
[1] cnt: 0 - val loss: 1429.2602175176144 - train loss: 3333.9314445257187
[1] cnt: 1 - val loss: 1438.7710571289062 - train loss: 3331.6970269680023

In [ ]:
model.eval()
correct = 0
total = 0
with torch.no_grad():
    for _, x, y  in valLoader:
        pred = model(x)

        for idx, i in enumerate(pred):
            if torch.argmax(i)== torch.argmax(y[idx]):
                correct +=1 
            total+=1
correct / total

0.7578125

In [ ]:
model.eval()
result = []
with torch.no_grad():
    for id, X, _ in testLoader:
        pred = model(X)
        for idx, i in enumerate(pred):
            result.append([id[idx], torch.argmax(i).item()])

result

[['11504798', 0],
 ['11504799', 1],
 ['11504800', 1],
 ['11504801', 0],
 ['11504802', 0],
 ['11504803', 0],
 ['11504804', 1],
 ['11504805', 0],
 ['11504806', 0],
 ['11504807', 0],
 ['11504808', 1],
 ['11504809', 0],
 ['11504810', 0],
 ['11504811', 0],
 ['11504812', 0],
 ['11504813', 0],
 ['11504814', 0],
 ['11504815', 0],
 ['11504816', 0],
 ['11504817', 0],
 ['11504818', 1],
 ['11504819', 1],
 ['11504820', 1],
 ['11504821', 1],
 ['11504822', 0],
 ['11504823', 1],
 ['11504824', 0],
 ['11504825', 0],
 ['11504826', 1],
 ['11504827', 0],
 ['11504828', 0],
 ['11504829', 1],
 ['11504830', 1],
 ['11504831', 0],
 ['11504832', 1],
 ['11504833', 1],
 ['11504834', 0],
 ['11504835', 1],
 ['11504836', 0],
 ['11504837', 0],
 ['11504838', 0],
 ['11504839', 1],
 ['11504840', 1],
 ['11504841', 0],
 ['11504842', 1],
 ['11504843', 1],
 ['11504844', 0],
 ['11504845', 0],
 ['11504846', 1],
 ['11504847', 1],
 ['11504848', 0],
 ['11504849', 0],
 ['11504850', 0],
 ['11504851', 1],
 ['11504852', 0],
 ['11504853', 0],
 ['11504854', 1],
 ['11504855', 0],
 ['11504856', 0],
 ['11504857', 1],
 ['11504858', 0],
 ['11504859', 1],
 ['11504860', 0],
 ['11504861', 0],
 ['11504862', 0],
 ['11504863', 0],
 ['11504864', 0],
 ['11504865', 0],
 ['11504866', 0],
 ['11504867', 1],
 ['11504868', 1],
 ['11504869', 0],
 ['11504870', 1],
 ['11504871', 0],
 ['11504872', 1],
 ['11504873', 1],
 ['11504874', 0],
 ['11504875', 0],
 ['11504876', 1],
 ['11504877', 0],
 ['11504878', 0],
 ['11504879', 1],
 ['11504880', 0],
 ['11504881', 1],
 ['11504882', 1],
 ['11504883', 1],
 ['11504884', 1],
 ['11504885', 1],
 ['11504886', 0],
 ['11504887', 1],
 ['11504888', 0],
 ['11504889', 0],
 ['11504890', 0],
 ['11504891', 0],
 ['11504892', 0],
 ['11504893', 0],
 ['11504894', 0],
 ['11504895', 0],
 ['11504896', 1],
 ['11504897', 1],
 ['11504898', 0],
 ['11504899', 0],
 ['11504900', 1],
 ['11504901', 1],
 ['11504902', 0],
 ['11504903', 1],
 ['11504904', 1],
 ['11504905', 0],
 ['11504906', 0],
 ['11504907', 0],
 ['11504908', 0],
 ['11504909', 0],
 ['11504910', 0],
 ['11504911', 1],
 ['11504912', 0],
 ['11504913', 1],
 ['11504914', 1],
 ['11504915', 0],
 ['11504916', 1],
 ['11504917', 0],
 ['11504918', 1],
 ['11504919', 1],
 ['11504920', 1],
 ['11504921', 0],
 ['11504922', 1],
 ['11504923', 1],
 ['11504924', 1],
 ['11504925', 0],
 ['11504926', 0],
 ['11504927', 0],
 ['11504928', 1],
 ['11504929', 1],
 ['11504930', 1],
 ['11504931', 1],
 ['11504932', 0],
 ['11504933', 0],
 ['11504934', 1],
 ['11504935', 0],
 ['11504936', 0],
 ['11504937', 1],
 ['11504938', 0],
 ['11504939', 1],
 ['11504940', 0],
 ['11504941', 0],
 ['11504942', 1],
 ['11504943', 1],
 ['11504944', 0],
 ['11504945', 0],
 ['11504946', 0],
 ['11504947', 1],
 ['11504948', 1],
 ['11504949', 1],
 ['11504950', 1],
 ['11504951', 1],
 ['11504952', 1],
 ['11504953', 1],
 ['11504954', 0],
 ['11504955', 1],
 ['11504956', 1],
 ['11504957', 1],
 ['11504958', 0],
 ['11504959', 1],
 ['11504960', 0],
 ['11504961', 0],
 ['11504962', 0],
 ['11504963', 0],
 ['11504964', 1],
 ['11504965', 0],
 ['11504966', 0],
 ['11504967', 1],
 ['11504968', 1],
 ['11504969', 0],
 ['11504970', 0],
 ['11504971', 1],
 ['11504972', 0],
 ['11504973', 1],
 ['11504974', 1],
 ['11504975', 0],
 ['11504976', 1],
 ['11504977', 1],
 ['11504978', 0],
 ['11504979', 0],
 ['11504980', 1],
 ['11504981', 1],
 ['11504982', 1],
 ['11504983', 0],
 ['11504984', 1],
 ['11504985', 0],
 ['11504986', 1],
 ['11504987', 0],
 ['11504988', 0],
 ['11504989', 0],
 ['11504990', 0],
 ['11504991', 0],
 ['11504992', 1],
 ['11504993', 0],
 ['11504994', 0],
 ['11504995', 1],
 ['11504996', 1],
 ['11504997', 1],
 ['11504998', 0],
 ['11504999', 0],
 ['11505000', 0],
 ['11505001', 0],
 ['11505002', 0],
 ['11505003', 1],
 ['11505004', 0],
 ['11505005', 1],
 ['11505006', 1],
 ['11505007', 1],
 ['11505008', 1],
 ['11505009', 0],
 ['11505010', 0],
 ['11505011', 1],
 ['11505012', 1],
 ['11505013', 1],
 ['11505014', 1],
 ['11505015', 1],
 ['11505016', 1],
 ['11505017', 1],
 ['11505018', 0],
 ['11505019', 1],
 ['11505020', 1],
 ['11505021', 0],
 ['11505022', 0],
 ['11505023', 0],
 ['11505024', 1],
 ['11505025', 0],
 ['11505026', 1],
 ['11505027', 1],
 ['11505028', 1],
 ['11505029', 1],
 ['11505030', 1],
 ['11505031', 1],
 ['11505032', 1],
 ['11505033', 0],
 ['11505034', 0],
 ['11505035', 0],
 ['11505036', 1],
 ['11505037', 0],
 ['11505038', 0],
 ['11505039', 1],
 ['11505040', 0],
 ['11505041', 1],
 ['11505042', 1],
 ['11505043', 0],
 ['11505044', 0],
 ['11505045', 1],
 ['11505046', 0],
 ['11505047', 0],
 ['11505048', 1],
 ['11505049', 0],
 ['11505050', 0],
 ['11505051', 0],
 ['11505052', 0],
 ['11505053', 1],
 ['11505054', 0],
 ['11505055', 0],
 ['11505056', 1],
 ['11505057', 1],
 ['11505058', 1],
 ['11505059', 1],
 ['11505060', 1],
 ['11505061', 0],
 ['11505062', 0],
 ['11505063', 1],
 ['11505064', 0],
 ['11505065', 1],
 ['11505066', 0],
 ['11505067', 1],
 ['11505068', 1],
 ['11505069', 1],
 ['11505070', 1],
 ['11505071', 0],
 ['11505072', 0],
 ['11505073', 1],
 ['11505074', 0],
 ['11505075', 0],
 ['11505076', 0],
 ['11505077', 1],
 ['11505078', 0],
 ['11505079', 0],
 ['11505080', 0],
 ['11505081', 1],
 ['11505082', 0],
 ['11505083', 0],
 ['11505084', 0],
 ['11505085', 1],
 ['11505086', 1],
 ['11505087', 1],
 ['11505088', 1],
 ['11505089', 1],
 ['11505090', 0],
 ['11505091', 0],
 ['11505092', 1],
 ['11505093', 0],
 ['11505094', 0],
 ['11505095', 1],
 ['11505096', 0],
 ['11505097', 0],
 ['11505098', 0],
 ['11505099', 0],
 ['11505100', 0],
 ['11505101', 0],
 ['11505102', 1],
 ['11505103', 0],
 ['11505104', 1],
 ['11505105', 1],
 ['11505106', 1],
 ['11505107', 1],
 ['11505108', 1],
 ['11505109', 0],
 ['11505110', 1],
 ['11505111', 0],
 ['11505112', 0],
 ['11505113', 1],
 ['11505114', 0],
 ['11505115', 0],
 ['11505116', 1],
 ['11505117', 1],
 ['11505118', 0],
 ['11505119', 1],
 ['11505120', 1],
 ['11505121', 0],
 ['11505122', 1],
 ['11505123', 0],
 ['11505124', 0],
 ['11505125', 0],
 ['11505126', 0],
 ['11505127', 1],
 ['11505128', 0],
 ['11505129', 1],
 ['11505130', 0],
 ['11505131', 1],
 ['11505132', 0],
 ['11505133', 1],
 ['11505134', 1],
 ['11505135', 1],
 ['11505136', 0],
 ['11505137', 0],
 ['11505138', 0],
 ['11505139', 1],
 ['11505140', 0],
 ['11505141', 0],
 ['11505142', 0],
 ['11505143', 0],
 ['11505144', 0],
 ['11505145', 0],
 ['11505146', 0],
 ['11505147', 0],
 ['11505148', 0],
 ['11505149', 0],
 ['11505150', 0],
 ['11505151', 1],
 ['11505152', 0],
 ['11505153', 0],
 ['11505154', 0],
 ['11505155', 0],
 ['11505156', 0],
 ['11505157', 1],
 ['11505158', 0],
 ['11505159', 1],
 ['11505160', 1],
 ['11505161', 0],
 ['11505162', 0],
 ['11505163', 1],
 ['11505164', 1],
 ['11505165', 1],
 ['11505166', 0],
 ['11505167', 0],
 ['11505168', 1],
 ['11505169', 1],
 ['11505170', 1],
 ['11505171', 0],
 ['11505172', 1],
 ['11505173', 0],
 ['11505174', 1],
 ['11505175', 0],
 ['11505176', 1],
 ['11505177', 0],
 ['11505178', 1],
 ['11505179', 0],
 ['11505180', 1],
 ['11505181', 0],
 ['11505182', 1],
 ['11505183', 0],
 ['11505184', 1],
 ['11505185', 1],
 ['11505186', 0],
 ['11505187', 0],
 ['11505188', 1],
 ['11505189', 0],
 ['11505190', 1],
 ['11505191', 1],
 ['11505192', 1],
 ['11505193', 1],
 ['11505194', 0],
 ['11505195', 0],
 ['11505196', 0],
 ['11505197', 0],
 ['11505198', 0],
 ['11505199', 1],
 ['11505200', 1],
 ['11505201', 0],
 ['11505202', 1],
 ['11505203', 1],
 ['11505204', 1],
 ['11505205', 0],
 ['11505206', 1],
 ['11505207', 0],
 ['11505208', 0],
 ['11505209', 0],
 ['11505210', 0],
 ['11505211', 0],
 ['11505212', 0],
 ['11505213', 1],
 ['11505214', 0],
 ['11505215', 0],
 ['11505216', 1],
 ['11505217', 0],
 ['11505218', 1],
 ['11505219', 1],
 ['11505220', 0],
 ['11505221', 1],
 ['11505222', 1],
 ['11505223', 0],
 ['11505224', 0],
 ['11505225', 0],
 ['11505226', 1],
 ['11505227', 0],
 ['11505228', 0],
 ['11505229', 0],
 ['11505230', 1],
 ['11505231', 1],
 ['11505232', 1],
 ['11505233', 0],
 ['11505234', 1],
 ['11505235', 1],
 ['11505236', 0],
 ['11505237', 1],
 ['11505238', 1],
 ['11505239', 0],
 ['11505240', 0],
 ['11505241', 1],
 ['11505242', 0],
 ['11505243', 0],
 ['11505244', 0],
 ['11505245', 0],
 ['11505246', 1],
 ['11505247', 1],
 ['11505248', 0],
 ['11505249', 0],
 ['11505250', 0],
 ['11505251', 1],
 ['11505252', 1],
 ['11505253', 0],
 ['11505254', 0],
 ['11505255', 0],
 ['11505256', 1],
 ['11505257', 0],
 ['11505258', 1],
 ['11505259', 1],
 ['11505260', 0],
 ['11505261', 0],
 ['11505262', 1],
 ['11505263', 1],
 ['11505264', 1],
 ['11505265', 0],
 ['11505266', 1],
 ['11505267', 1],
 ['11505268', 0],
 ['11505269', 0],
 ['11505270', 1],
 ['11505271', 1],
 ['11505272', 1],
 ['11505273', 0],
 ['11505274', 1],
 ['11505275', 0],
 ['11505276', 0],
 ['11505277', 1],
 ['11505278', 0],
 ['11505279', 0],
 ['11505280', 0],
 ['11505281', 1],
 ['11505282', 0],
 ['11505283', 0],
 ['11505284', 0],
 ['11505285', 0],
 ['11505286', 0],
 ['11505287', 1],
 ['11505288', 1],
 ['11505289', 0],
 ['11505290', 0],
 ['11505291', 0],
 ['11505292', 0],
 ['11505293', 0],
 ['11505294', 0],
 ['11505295', 1],
 ['11505296', 0],
 ['11505297', 0],
 ['11505298', 0],
 ['11505299', 0],
 ['11505300', 0],
 ['11505301', 0],
 ['11505302', 0],
 ['11505303', 1],
 ['11505304', 1],
 ['11505305', 1],
 ['11505306', 1],
 ['11505307', 0],
 ['11505308', 0],
 ['11505309', 1],
 ['11505310', 0],
 ['11505311', 1],
 ['11505312', 1],
 ['11505313', 1],
 ['11505314', 0],
 ['11505315', 0],
 ['11505316', 0],
 ['11505317', 1],
 ['11505318', 1],
 ['11505319', 1],
 ['11505320', 1],
 ['11505321', 1],
 ['11505322', 0],
 ['11505323', 0],
 ['11505324', 0],
 ['11505325', 1],
 ['11505326', 1],
 ['11505327', 1],
 ['11505328', 0],
 ['11505329', 1],
 ['11505330', 0],
 ['11505331', 0],
 ['11505332', 0],
 ['11505333', 0],
 ['11505334', 1],
 ['11505335', 0],
 ['11505336', 0],
 ['11505337', 0],
 ['11505338', 0],
 ['11505339', 1],
 ['11505340', 1],
 ['11505341', 1],
 ['11505342', 1],
 ['11505343', 1],
 ['11505344', 0],
 ['11505345', 0],
 ['11505346', 0],
 ['11505347', 1],
 ['11505348', 1],
 ['11505349', 0],
 ['11505350', 1],
 ['11505351', 1],
 ['11505352', 0],
 ['11505353', 0],
 ['11505354', 0],
 ['11505355', 0],
 ['11505356', 0],
 ['11505357', 1],
 ['11505358', 0],
 ['11505359', 1],
 ['11505360', 0],
 ['11505361', 1],
 ['11505362', 0],
 ['11505363', 0],
 ['11505364', 1],
 ['11505365', 1],
 ['11505366', 1],
 ['11505367', 0],
 ['11505368', 1],
 ['11505369', 1],
 ['11505370', 1],
 ['11505371', 0],
 ['11505372', 1],
 ['11505373', 1],
 ['11505374', 1],
 ['11505375', 1],
 ['11505376', 1],
 ['11505377', 0],
 ['11505378', 0],
 ['11505379', 0],
 ['11505380', 1],
 ['11505381', 0],
 ['11505382', 0],
 ['11505383', 0],
 ['11505384', 1],
 ['11505385', 0],
 ['11505386', 0],
 ['11505387', 1],
 ['11505388', 0],
 ['11505389', 1],
 ['11505390', 1],
 ['11505391', 0],
 ['11505392', 0],
 ['11505393', 1],
 ['11505394', 0],
 ['11505395', 1],
 ['11505396', 0],
 ['11505397', 1],
 ['11505398', 0],
 ['11505399', 1],
 ['11505400', 1],
 ['11505401', 0],
 ['11505402', 0],
 ['11505403', 1],
 ['11505404', 1],
 ['11505405', 1],
 ['11505406', 1],
 ['11505407', 1],
 ['11505408', 1],
 ['11505409', 0],
 ['11505410', 0],
 ['11505411', 1],
 ['11505412', 0],
 ['11505413', 1],
 ['11505414', 0],
 ['11505415', 1],
 ['11505416', 1],
 ['11505417', 1],
 ['11505418', 0],
 ['11505419', 1],
 ['11505420', 1],
 ['11505421', 1],
 ['11505422', 1],
 ['11505423', 0],
 ['11505424', 1],
 ['11505425', 0],
 ['11505426', 1],
 ['11505427', 0],
 ['11505428', 1],
 ['11505429', 0],
 ['11505430', 1],
 ['11505431', 0],
 ['11505432', 0],
 ['11505433', 1],
 ['11505434', 1],
 ['11505435', 0],
 ['11505436', 1],
 ['11505437', 1],
 ['11505438', 0],
 ['11505439', 1],
 ['11505440', 0],
 ['11505441', 0],
 ['11505442', 1],
 ['11505443', 1],
 ['11505444', 0],
 ['11505445', 0],
 ['11505446', 1],
 ['11505447', 0],
 ['11505448', 1],
 ['11505449', 1],
 ['11505450', 0],
 ['11505451', 0],
 ['11505452', 0],
 ['11505453', 1],
 ['11505454', 0],
 ['11505455', 0],
 ['11505456', 0],
 ['11505457', 0],
 ['11505458', 0],
 ['11505459', 0],
 ['11505460', 1],
 ['11505461', 1],
 ['11505462', 0],
 ['11505463', 0],
 ['11505464', 1],
 ['11505465', 1],
 ['11505466', 0],
 ['11505467', 0],
 ['11505468', 1],
 ['11505469', 0],
 ['11505470', 1],
 ['11505471', 1],
 ['11505472', 0],
 ['11505473', 0],
 ['11505474', 0],
 ['11505475', 1],
 ['11505476', 1],
 ['11505477', 1],
 ['11505478', 0],
 ['11505479', 0],
 ['11505480', 1],
 ['11505481', 1],
 ['11505482', 1],
 ['11505483', 1],
 ['11505484', 0],
 ['11505485', 0],
 ['11505486', 0],
 ['11505487', 0],
 ['11505488', 0],
 ['11505489', 1],
 ['11505490', 1],
 ['11505491', 0],
 ['11505492', 0],
 ['11505493', 1],
 ['11505494', 1],
 ['11505495', 0],
 ['11505496', 0],
 ['11505497', 1],
 ['11505498', 1],
 ['11505499', 1],
 ['11505500', 1],
 ['11505501', 0],
 ['11505502', 1],
 ['11505503', 0],
 ['11505504', 0],
 ['11505505', 0],
 ['11505506', 0],
 ['11505507', 1],
 ['11505508', 0],
 ['11505509', 0],
 ['11505510', 0],
 ['11505511', 0],
 ['11505512', 0],
 ['11505513', 1],
 ['11505514', 1],
 ['11505515', 1],
 ['11505516', 0],
 ['11505517', 0],
 ['11505518', 1],
 ['11505519', 1],
 ['11505520', 0],
 ['11505521', 1],
 ['11505522', 1],
 ['11505523', 0],
 ['11505524', 0],
 ['11505525', 0],
 ['11505526', 1],
 ['11505527', 1],
 ['11505528', 1],
 ['11505529', 1],
 ['11505530', 0],
 ['11505531', 1],
 ['11505532', 0],
 ['11505533', 0],
 ['11505534', 1],
 ['11505535', 1],
 ['11505536', 0],
 ['11505537', 0],
 ['11505538', 1],
 ['11505539', 1],
 ['11505540', 0],
 ['11505541', 1],
 ['11505542', 0],
 ['11505543', 0],
 ['11505544', 0],
 ['11505545', 0],
 ['11505546', 1],
 ['11505547', 0],
 ['11505548', 0],
 ['11505549', 1],
 ['11505550', 0],
 ['11505551', 1],
 ['11505552', 1],
 ['11505553', 1],
 ['11505554', 1],
 ['11505555', 0],
 ['11505556', 0],
 ['11505557', 1],
 ['11505558', 0],
 ['11505559', 1],
 ['11505560', 0],
 ['11505561', 1],
 ['11505562', 0],
 ['11505563', 0],
 ['11505564', 1],
 ['11505565', 1],
 ['11505566', 0],
 ['11505567', 0],
 ['11505568', 0],
 ['11505569', 0],
 ['11505570', 1],
 ['11505571', 0],
 ['11505572', 0],
 ['11505573', 0],
 ['11505574', 1],
 ['11505575', 1],
 ['11505576', 1],
 ['11505577', 0],
 ['11505578', 1],
 ['11505579', 1],
 ['11505580', 1],
 ['11505581', 0],
 ['11505582', 1],
 ['11505583', 1],
 ['11505584', 0],
 ['11505585', 1],
 ['11505586', 1],
 ['11505587', 1],
 ['11505588', 1],
 ['11505589', 0],
 ['11505590', 1],
 ['11505591', 1],
 ['11505592', 0],
 ['11505593', 0],
 ['11505594', 1],
 ['11505595', 0],
 ['11505596', 1],
 ['11505597', 0],
 ['11505598', 0],
 ['11505599', 0],
 ['11505600', 1],
 ['11505601', 1],
 ['11505602', 0],
 ['11505603', 1],
 ['11505604', 0],
 ['11505605', 1],
 ['11505606', 0],
 ['11505607', 1],
 ['11505608', 0],
 ['11505609', 1],
 ['11505610', 0],
 ['11505611', 0],
 ['11505612', 1],
 ['11505613', 1],
 ['11505614', 1],
 ['11505615', 0],
 ['11505616', 0],
 ['11505617', 1],
 ['11505618', 1],
 ['11505619', 0],
 ['11505620', 0],
 ['11505621', 1],
 ['11505622', 0],
 ['11505623', 1],
 ['11505624', 0],
 ['11505625', 1],
 ['11505626', 1],
 ['11505627', 1],
 ['11505628', 0],
 ['11505629', 1],
 ['11505630', 0],
 ['11505631', 0],
 ['11505632', 0],
 ['11505633', 1],
 ['11505634', 0],
 ['11505635', 1],
 ['11505636', 0],
 ['11505637', 0],
 ['11505638', 0],
 ['11505639', 0],
 ['11505640', 1],
 ['11505641', 1],
 ['11505642', 0],
 ['11505643', 0],
 ['11505644', 1],
 ['11505645', 0],
 ['11505646', 0],
 ['11505647', 0],
 ['11505648', 0],
 ['11505649', 0],
 ['11505650', 0],
 ['11505651', 1],
 ['11505652', 1],
 ['11505653', 0],
 ['11505654', 0],
 ['11505655', 0],
 ['11505656', 1],
 ['11505657', 0],
 ['11505658', 1],
 ['11505659', 0],
 ['11505660', 0],
 ['11505661', 0],
 ['11505662', 1],
 ['11505663', 1],
 ['11505664', 0],
 ['11505665', 0],
 ['11505666', 0],
 ['11505667', 1],
 ['11505668', 0],
 ['11505669', 0],
 ['11505670', 1],
 ['11505671', 0],
 ['11505672', 0],
 ['11505673', 0],
 ['11505674', 0],
 ['11505675', 1],
 ['11505676', 0],
 ['11505677', 1],
 ['11505678', 1],
 ['11505679', 1],
 ['11505680', 1],
 ['11505681', 1],
 ['11505682', 0],
 ['11505683', 0],
 ['11505684', 0],
 ['11505685', 1],
 ['11505686', 1],
 ['11505687', 1],
 ['11505688', 0],
 ['11505689', 1],
 ['11505690', 1],
 ['11505691', 0],
 ['11505692', 0],
 ['11505693', 0],
 ['11505694', 0],
 ['11505695', 1],
 ['11505696', 0],
 ['11505697', 1],
 ['11505698', 0],
 ['11505699', 0],
 ['11505700', 1],
 ['11505701', 1],
 ['11505702', 0],
 ['11505703', 1],
 ['11505704', 0],
 ['11505705', 0],
 ['11505706', 1],
 ['11505707', 0],
 ['11505708', 1],
 ['11505709', 1],
 ['11505710', 0],
 ['11505711', 1],
 ['11505712', 1],
 ['11505713', 0],
 ['11505714', 1],
 ['11505715', 1],
 ['11505716', 0],
 ['11505717', 1],
 ['11505718', 0],
 ['11505719', 1],
 ['11505720', 0],
 ['11505721', 1],
 ['11505722', 0],
 ['11505723', 0],
 ['11505724', 0],
 ['11505725', 1],
 ['11505726', 1],
 ['11505727', 1],
 ['11505728', 1],
 ['11505729', 0],
 ['11505730', 0],
 ['11505731', 1],
 ['11505732', 1],
 ['11505733', 0],
 ['11505734', 0],
 ['11505735', 1],
 ['11505736', 1],
 ['11505737', 0],
 ['11505738', 1],
 ['11505739', 1],
 ['11505740', 0],
 ['11505741', 0],
 ['11505742', 1],
 ['11505743', 1],
 ['11505744', 1],
 ['11505745', 1],
 ['11505746', 0],
 ['11505747', 1],
 ['11505748', 1],
 ['11505749', 0],
 ['11505750', 1],
 ['11505751', 0],
 ['11505752', 1],
 ['11505753', 1],
 ['11505754', 1],
 ['11505755', 1],
 ['11505756', 0],
 ['11505757', 1],
 ['11505758', 1],
 ['11505759', 0],
 ['11505760', 0],
 ['11505761', 1],
 ['11505762', 1],
 ['11505763', 0],
 ['11505764', 1],
 ['11505765', 1],
 ['11505766', 1],
 ['11505767', 0],
 ['11505768', 0],
 ['11505769', 0],
 ['11505770', 0],
 ['11505771', 1],
 ['11505772', 1],
 ['11505773', 1],
 ['11505774', 1],
 ['11505775', 0],
 ['11505776', 0],
 ['11505777', 1],
 ['11505778', 1],
 ['11505779', 0],
 ['11505780', 1],
 ['11505781', 1],
 ['11505782', 1],
 ['11505783', 1],
 ['11505784', 1],
 ['11505785', 1],
 ['11505786', 1],
 ['11505787', 0],
 ['11505788', 1],
 ['11505789', 0],
 ['11505790', 1],
 ['11505791', 1],
 ['11505792', 0],
 ['11505793', 0],
 ['11505794', 1],
 ['11505795', 1],
 ['11505796', 0],
 ['11505797', 0],
 ...]

In [ ]:
outDF= pd.DataFrame(result)
outDF= outDF.astype(int)
outDF.columns=['id','Response']
outDF

               id  Response
0        11504798         0
1        11504799         1
2        11504800         1
3        11504801         0
4        11504802         0
...           ...       ...
7669861  19174659         1
7669862  19174660         0
7669863  19174661         0
7669864  19174662         1
7669865  19174663         0

[7669866 rows x 2 columns]

In [ ]:
outDF.to_csv('result.csv',index=False)